<section class="new__article p-8 leading-10">
  <h1 class="my-4 text-3xl text-gray-400 uppercase">Editing article</h1>

  <%= render "form", article: @article %>

  <br>

  <div class="">
    <%= link_to "Show this article", @article, class: 'underline underline-offset-4 text-sky-500' %> |
    <%= link_to "Back to articles", articles_path, class: 'underline underline-offset-4 text-sky-500' %>
  </div>
</section>